<!--The content below is only a placeholder and can be replaced.-->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="header item" href="dashboard">
      You & MEet
    </a>
    <div *ngIf="hasCurrentUser()" class="ui simple right aligned dropdown item">
      <img class="ui icon" src="../assets/images/user-circle.png"
           width="15" height="15">
      <div class="menu">
        <div class="header">
          Profile
        </div>
        <div class="item">
          <a (click)="logOut()" style="color:black">LogOut</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <router-outlet></router-outlet>
</div>
