<!--The content below is only a placeholder and can be replaced.-->
<div class="ui fixed menu">
  <div class="ui container">

    <a class="header item" href="dashboard" draggable="false">
      <img class="ui icon" src="../assets/images/logo_white.png" height="22"
        draggable="false">

    </a>
    <div *ngIf="hasCurrentUser()" class="ui simple right aligned dropdown item">
      <img class="ui icon" src="../assets/images/user-circle_grey.png"
           width="20">
      <div class="menu">
        <div class="header">
          <a href="profile" style="color:black" draggable="false">Profile</a>
        </div>
        <div class="header">
          <a (click)="logOut()" style="color:black; cursor: pointer" draggable="false">LogOut</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <router-outlet></router-outlet>
</div>

