certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
coveralls==1.2.0
Django==2.2.24
django-cors-headers==2.1.0
docopt==0.6.2
hashids==1.2.0
idna==2.6
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
