<h2 class="ui header">Select Available Time</h2>
<div class="ui hidden divider"></div>
<div class="row">
<div class="six wide column">

<button id="authorize-button"
              class="ui secondary google plus button right floated"
              (click)="handleSyncClick()"
              style="display: none; width: 140px">
        <i class="google plus icon"></i>
        Calendar
      </button>
      <button id="signout-button"
              class="ui secondary google plus button right floated"
              (click)="handleCancelClick()"
              style="display: none; width: 140px">
        <i class="google plus icon"></i>
        Cancel Sync
      </button>
      <button (click)="deleteAllEvent()" class="ui red button right floated">Clear</button>
      <button (click)="deleteEvent()" class="ui red button right floated"
              style="display: none;"
              id="deleteButton">Delete
      </button>
</div>
</div>
<br>
<div *ngIf="previousFreeTimes">
  <calendar-component [options]="calendarOptions" id="calendar"></calendar-component>
</div>
<div class="ui hidden divider"></div>
<button (click)="collectFreeTimes()" class="ui pink button right floated">Submit</button>

