<div class="container">
  <h1>Select Place to MEet</h1>
  <button (click)="goBack()" class="ui secondary button right floated">Back</button>
  <div class="ui icon left input">
    <input
      ngui-auto-complete
      type="text"
      [(ngModel)]="search_place"
      [source]="observableSource"
      [list-formatter]="list_formatter"
      [value-formatter]="value_formatter"
      (valueChanged)="onPlaceChange()"
      size="27">
    <i class="search icon"></i>
  </div>
  <br>
  <br>

  <div>
    <agm-map [latitude]="selected.latitude"
             [longitude]="selected.longitude" [scrollwheel]="false" [zoom]="zoom">
      <div *ngIf="selected.name">
        <agm-marker [latitude]="selected.latitude"
                    [longitude]="selected.longitude">
          <agm-info-window isOpen="true">
            {{selected.name}}
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
    <div *ngIf="isPlaceSelected">
      <button (click)="onSubmit()" class="ui secondary button right floated">Submit</button>
      <h2>Recommendations</h2>
    <!-- exists places to recommend-->
      <sui-tabset>
        <div class="ui top attached tabular menu">
          <a class="item" suiTabHeader="1">Restaurants</a>
          <a class="item" suiTabHeader="2">Cafes</a>
          <a class="item" suiTabHeader="3">Cultural Faculties</a>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="1">
          <div class = "ui list">
            <ul *ngFor="let rest of restaurant_list" (click)="onSelectRecommendation(rest)">
              <li>
                <div>{{rest.name}}</div>
                <div>{{rest.category}}</div>
                <a (click)="goToUrl(rest)">Details</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="2">
          <div class = "ui list">
            <ul *ngFor="let cafe of cafe_list" (click)="onSelectRecommendation(cafe)">
              <li>
                <div>{{cafe.name}}</div>
                <div>{{cafe.category}}</div>
                <a (click)="goToUrl(cafe)">Details</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="3">
          <div class = "ui list">
            <ul *ngFor="let cf of cultural_faculty_list" (click)="onSelectRecommendation(cf)">
              <li>
                <div>{{cf.name}}</div>
                <div>{{cf.category}}</div>
                <a (click)="goToUrl(cf)">Details</a>
              </li>
            </ul>
          </div>
        </div>
      </sui-tabset>
    </div>
  </div>
</div>



