<div class="container">
  <h1>Select Place to MEet</h1>
  <button (click)="goBack()" class="ui yellow button right floated">Back</button>
  <button *ngIf="goToTimeOnSubmit" (click)="goToTimeSelect()" class="ui orange button right floated">Skip</button>
  <div id="autocomplete" class="ui search icon left input">
    <i class="search icon"></i>
    <input
      ngui-auto-complete
      placeholder="Search Places"
      [(ngModel)]="search_place"
      [source]="observableSource"
      [list-formatter]="list_formatter"
      [value-formatter]="value_formatter"
      (valueChanged)="onPlaceChange()"
      size="15">
  </div>
  <br>
  <br>

  <div>
    <agm-map [latitude]="selected.latitude"
             [longitude]="selected.longitude" [scrollwheel]="false" [zoom]="zoom">
      <div *ngIf="selected.name">
        <agm-marker [latitude]="selected.latitude"
                    [longitude]="selected.longitude">
          <agm-info-window isOpen="true">
            {{selected.name}}
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
    <div *ngIf="isPlaceSelected">
      <button (click)="onSubmit()" class="ui orange button right floated">Submit</button>
      <h2>Recommendations</h2>
    <!-- exists places to recommend-->
      <sui-tabset>
        <div class="ui top attached tabular menu">
          <a class="item tab-header" suiTabHeader="1">Restaurants</a>
          <a class="item tab-header" suiTabHeader="2">Cafes</a>
          <a class="item tab-header" suiTabHeader="3">Cultural Faculties</a>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="1">
          <div class = "ui relaxed divided list">
            <div class="item" *ngFor="let rest of restaurant_list" (click)="onSelectRecommendation(rest)">
              <div class="header not-details">{{rest.name}}</div>
              <div class="not-details">{{rest.category}}</div>
              <a class="details" (click)="goToUrl(rest)">Details</a>
            </div>
          </div>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="2">
          <div class ="ui relaxed divided list">
            <div class="item" *ngFor="let cafe of cafe_list" (click)="onSelectRecommendation(cafe)">
              <div class="content">
                <div class="header not-details">{{cafe.name}}</div>
                <div class="not-details">{{cafe.category}}</div>
                <a class="details" (click)="goToUrl(cafe)">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab ui bottom attached segment" suiTabContent="3">
          <div class = "ui relaxed divided list">
            <div class="item" *ngFor="let cf of cultural_faculty_list" (click)="onSelectRecommendation(cf)">
              <div class="content">
                <div class="header not-details">{{cf.name}}</div>
                <div class="not-details">{{cf.category}}</div>
                <a class="details" (click)="goToUrl(cf)">Details</a>
              </div>
            </div>
          </div>
        </div>
      </sui-tabset>
    </div>
  </div>
</div>



