<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <img src="../../assets/images/login.png" width="320" draggable="false">
      <div class="ui hidden divider"></div>

      <!--
      <h1 class="ui header">
        You & MEet
      </h1>
      -->

      <form class="ui large form"
            [formGroup]="loginForm"
            (ngSubmit)="tryLogin()"
            [class.error]="!loginForm.valid && loginForm.touched">
        <div class="ui stacked segment">

          <div class="required field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="email" type="text" name="email/username" placeholder="ID/Email"
                     [formControl]="loginForm.controls['email/username']">
            </div>
          </div>

          <div class="required field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password" class="input" type="password" name="password" placeholder="Password"
                     [formControl]="loginForm.controls['password']">
            </div>
          </div>

          <div id="loginFail"
               style="display: none"
               class="ui error message"> Incorrect Email/Username or Password
          </div>

          <button class="ui fluid large submit yellow button" type="submit">Login</button>

        </div>
      </form>
      <div class="ui message">
        New Member? &nbsp; <a href="signup">Sign Up</a>
      </div>
      <div class="ui message">
        Annoying to sign up? &nbsp; <a href="login/non-user"> Log In without Sign Up</a>
      </div>
    </div>
  </div>
</body>
