<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header">
        You & MEet Login
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="required field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email/username" placeholder="Email/Username">
            </div>
          </div>
          <div class="required field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large submit button">Login</div>
          <button class="ui fluid large google plus button">
            <i class="google plus icon"></i>
            Login With Google Account
          </button>
          <div class="ui error message"></div>
        </div>
      </form>
      <div class="ui message">
        New Member? <a href="signup">Sign Up</a>
      </div>
    </div>
  </div>

</body>
