body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}

body {
  background-color: floralwhite;
  /*
  #cee3e6
  #F8EDE8
   */
}

#email {
  background-color: floralwhite;
}

#password {
  background-color: floralwhite;
}

