

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}


h1 {
  color: #FE9A76;
  font-family: Kollektif;
  font-size: 300%
}

.input-form {
  color: #5C656E !important;
}
