h1 {
  color: #FE9A76;
  font-family: Kollektif;
  font-size: 250%;
}

h2 {
  color: #FE9A76;
  font-family: Kollektif;
  font-size: 200%;
}

label {
  color: #FB6F24 !important;
  font-size: 120%;
}

.input-form {
  color: #5C656E !important;
}
