<h1>Create Appointment</h1>

<div class="ui divider"></div>

<form (ngSubmit)="onSubmit()"
      #form="ngForm"
      class="ui form">

  <div class="field" [ngClass]="{error: !(name.valid || name.pristine)}">
    <label for="name">Name</label>
    <input type="text" id="name" required
           placeholder="Appointment Name"
           [(ngModel)]="formModel.name" name="name"
           #name="ngModel">
  </div>

  <div class="field">
    <label for="duration">Duration (in minutes)</label>
    <input type="number" id="duration" step="30" min="30" required
           placeholder="Duration (in minutes)"
           [(ngModel)]="formModel.duration" name="duration">
  </div>

  <div class="two fields">
    <div class="field"
         [ngClass]="{error: !(timespan_start.valid || timespan_start.pristine)}">
      <label>Min Date</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker
               [(ngModel)]="formModel.timespan.start" name="timespan_start"
               [pickerMode]="'date'"
               #timespan_start="ngModel">
      </div>
    </div>
    <div class="field"
         [ngClass]="{error: !(timespan_end.valid || timespan_end.pristine)}">
      <label>Max Date</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker
               [(ngModel)]="formModel.timespan.end" name="timespan_end"
               [pickerMode]="'date'"
               #timespan_end="ngModel">
      </div>
    </div>
  </div>

  <div *ngIf="!form.valid"
       class="ui error message">Form is invalid</div>

  <h2>Options</h2>
  <div class="field">
    <sui-checkbox [(ngModel)]="formModel.anonymity" name="anonymity">
      Anonymity
    </sui-checkbox>
  </div>

  <div class="ui divider"></div>

  <button type="submit" class="ui button"
          [disabled]="!form.form.valid">Submit</button>
</form>
