<sui-modal [isClosable]="true" (dismissed)="goBack()" #modal>
  <div id="forbidden" class="header">Non-Members Forbidden</div>
  <div class="content">
    <!-- Name Input -->
    <div class="content">Only for regular users!</div>
    <div class="content">Sign Up for more features!</div>
    <div class="ui hidden divider"></div>
    <button class="ui orange button right floated" (click)="modal.approve('done'); goSignUp()" autofocus>Sign Up</button>
    <button class="ui yellow button right floated" (click)="modal.deny(); goBack()">Back</button>
    <br>
    <br>
  </div>
</sui-modal>

