
<div *ngIf="rooms" class="ui relaxed divided list">
  <div class="item" *ngFor="let room of rooms
  | slice: 0: numRoomsShown
  as filteredRooms">
    <a id="link" [routerLink]="['/room', room.hashid]" class="content" draggable="false">
      <div class="number-circle">{{room.memberCount}}</div>
      <div id="room-name" class="header">{{room.name}}</div>
      {{room.place}}
    </a>
  </div>
  <button class="fluid teal basic ui button"
          *ngIf="rooms.length > numRoomsShown" (click)="numRoomsShown = rooms.length">
    View more
  </button>
  <button class="fluid teal basic ui button"
          *ngIf="rooms.length <= numRoomsShown && rooms.length > numRoomsShownMin"
          (click)="numRoomsShown = numRoomsShownMin">
    View less
  </button>
</div>



