<sui-modal [isClosable]="true" (dismissed)="goOut()" #modal>
  <div id="header" class="header">Log In without Sign Up</div>
  <div class="content">
    <!-- Name Input -->
    <h4 id="nickname">Enter Nickname</h4>
    <form class="ui large form">
    <div class="required field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input class="input-form" type="text" name="name" placeholder="Nickname"
               [formControl]="signUpForm.controls['name']">
      </div>
    </div>
    <div *ngIf="name.hasError('invalidName')&&name.touched"
         class="ui error message"> Name Should not be Empty
    </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui yellow button" (click)="modal.deny();goOut()">Cancel</button>
    <button class="ui orange button" [disabled]="!signUpForm.valid" (click)="modal.approve('done');tryLogin()" autofocus>Submit</button>
  </div>
</sui-modal>
