<body>
  <app-dialog [(visible)]="showDialog">
    <h2 class="ui align-middle header">Check Password</h2>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" name="passwordConfirm" placeholder="Password"
             [(ngModel)]="currPassword">
    </div>
    <button (click)="checkCurrentPassword()" class="ui right submit button">Check
    </button>
    <button (click)="goBack()" class="ui right submit button">Go Back
    </button>
  </app-dialog>

  <div *ngIf="currentUser">
    <div class="ui top attached demo menu">
      <a class="item" (click)="sidebar.toggle()">
        <i class="sidebar icon"></i> Menu
      </a>
      <a class="right floated item" (click)="goBack()">Back</a>
    </div>
    <sui-sidebar-container class="ui bottom attached segment">
      <sui-sidebar class="vertical" #sidebar direction="left">
        <a class="item" (click)="showUserInfo();sidebar.toggle()">UserInfo</a>
        <a class="item" (click)="showPastRooms();sidebar.toggle()">Past Appointments</a>
      </sui-sidebar>
      <sui-sidebar-sibling>
        <div id="userinfo" style="display: block" class="ui main text container">
          <div class="column">
            <h2 class="ui align-middle header">
              {{currentUser.username}}
              <button class="ui red button right floated" (click)="open()">Leave You & MEet</button>
            </h2>
          </div>
          <form class="ui large form"
                [formGroup]="passwordForm"
                [class.error]="!passwordForm.valid&&passwordForm.touched"
                (submit)="changePassword()">
            <div class="field">
              <label>Email</label>
              {{currentUser.email}}
            </div>

            <!-- Password Input -->
            <div class="required field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password"
                       [formControl]="passwordForm.controls['password']">
              </div>
            </div>
            <div *ngIf="password.hasError('invalidPassword')&&password.touched"
                 class="ui error message"> Must contain at least 8 characters with at least one number
            </div>

            <!-- PasswordConfirm Input -->
            <div class="required field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="passwordConfirm" placeholder="Password Confirmation"
                       [formControl]="passwordForm.controls['passwordConfirm']">
              </div>
            </div>
            <div *ngIf="passwordConfirm.hasError('invalidPasswordConfirm')&&passwordConfirm.touched"
                 class="ui error message"> Must match password.
            </div>
            <button class="ui fluid submit button"
                    type="submit"
                    [disabled]="!passwordForm.valid">Change Password
            </button>

          </form>
        </div>

        <div id="pastappointment" style="display: none" class="ui main container">
          <h2 class="ui align-middle header">
            Past Appointments
          </h2>
          <app-room-list [rooms]="pastRooms"></app-room-list>
        </div>
      </sui-sidebar-sibling>
    </sui-sidebar-container>
  </div>


  <!-- For Withdraw Modal -->
  <ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Delete Account Confirmation</div>
    <div class="content">
      <p>You cannot restore your account</p>
    </div>
    <div class="actions">
      <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
      <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
    </div>
  </ng-template>
</body>
