#username {
  font-family: Kollektif;
  font-size: 250%;
  color: #FE9A76;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
  margin-bottom: 7em;
}

.wireframe {
  margin-top: 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

#user-info {
  color: #FB6F24;
  font-family: Kollektif;
  font-size: 113.7%
}

#past-appointments {
  color: #FB6F24;
  font-family: Kollektif;
  font-size: 113.7%
}

#check-password {
  font-family: Kollektif;
  font-size: 120%;
}

#profile {
  color: #FE9A76;
  font-family: Kollektif;
  font-size: 300%
}

input {
  font-size: 16px;
}

.field {
  color: #5C656E;
  font-size: 120%;
}

label {
  color: #5C656E !important;
  font-size: 200%;
}
