<body>
  <div *ngIf="currentUser">
    <sui-tabset>
      <div class="ui top attached tabular menu">
        <a id="userInfoTab" class="item" suiTabHeader="1">User Information</a>
        <a id="pastTimeTab" class="item" suiTabHeader="2">Past Appointments</a>
      </div>
      <div class="ui bottom attached segment" suiTabContent="1">
        <div class="column">
          <h2 class="ui align-middle header">
            {{currentUser.username}}
          </h2>
        </div>
        <form class="ui large form"
              [formGroup]="passwordForm"
              [class.error]="!passwordForm.valid&&passwordForm.touched"
              (submit)="changePassword()">
          <div class="field">
            <br><br>
            <label>Email</label>
            {{currentUser.email}}
          </div>

          <div class="field">
            <br><br>
            <label>Modify Password</label>
          </div>

          <div class="required field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="currentPassword" placeholder="Current Password"
                     [formControl]="currentPassword">
            </div>
          </div>
          <div *ngIf="currentPassword.hasError('invalidCurrentPassword')"
               class="ui error message"> Please Check Your Current Password
          </div>
          <!-- Password Input -->
          <div class="required field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="newPassword" placeholder="New Password"
                     [formControl]="newPassword">
            </div>
          </div>
          <div *ngIf="newPassword.hasError('invalidPassword')&&newPassword.touched"
               class="ui error message"> Must contain at least 8 characters with at least one number
          </div>

          <!-- PasswordConfirm Input -->
          <div class="required field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="newPasswordConfirm" placeholder="New Password Confirmation"
                     [formControl]="newPasswordConfirm">
            </div>
          </div>
          <div *ngIf="newPasswordConfirm.hasError('invalidPasswordConfirm')&&newPasswordConfirm.touched"
               class="ui error message"> Must match password.
          </div>
          <button class="ui fluid submit button"
                  type="submit"
                  [disabled]="!passwordForm.valid">Change Password
          </button>

          <div class="field">
            <br><br>
            <label>Delete Account </label>
            <br>
            <button class="ui fluid red button" (click)="open()">Leave You & MEet</button>
          </div>
        </form>
      </div>

      <div class="ui bottom attached segment" suiTabContent="2">
        <div class="column">
          <h2 class="ui align-middle header">
            Past Appointments
          </h2>
        </div>
        <app-room-list [rooms]="pastRooms"></app-room-list>
      </div>
    </sui-tabset>


    <!-- For Withdraw Modal -->
    <ng-template let-context let-modal="modal" #modalTemplate>
      <div class="header">Delete Account Confirmation</div>
      <div class="content">
        <p>You Cannot Restore Your Account</p>
        <p>Please Confirm Your Password Again</p>
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" [formControl]="modalPasswordForm.controls['passwordCheck']"
                 placeholder="Your Password">
        </div>
      </div>
      <div class="actions">
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')">OK</button>
      </div>
    </ng-template>
  </div>
</body>
