/* You can add global styles to this file, and also import other style files */
@import '~fullcalendar/dist/fullcalendar.min.css';

.fc button {
  display: none;
}

.fc-toolbar {
  display: none;
}

.fc-event {
  background-color: black;
  font-size: .90em;
  border: solid 1px black;
}

.fc-unthemed td.fc-today {
  background: white;
}

body {
  background-color: white;
  font-size: 16px;

}

.main.container {
  margin-top: 7em;
}



@font-face {
  font-family: 'Kollektif';
  src: local('./assets/Fonts/Kollektif.ttf');
}
