<div *ngIf="room">
  <h1>{{room.name}}</h1>
  <div class="ui hidden divider"></div>
  <div class="ui grid">
    <div class="row">
      <div class="six wide column">
        <div class="ui fluid action input">
          <input type="text" [(ngModel)]="shareableLink" readonly="" #inputTarget>
          <button class="ui teal right labeled icon button" type="button"
                  ngxClipboard [cbContent]="shareableLink" (cbOnSuccess)="isCopied = true">
            <i class="copy icon"></i>
            <div *ngIf="!isCopied">Copy</div>
            <div *ngIf="isCopied">Copied!</div>
          </button>
        </div>
      </div>
      <div class="eight wide column"></div>
      <div class="two wide column">
        <button (click)="goBack()" class="ui button right floated">Back</button>
      </div>
    </div>
  </div>

  <h2>List of participants</h2>
  <div *ngIf="members && room.owner">
    <div class="ui horizontal list" *ngFor="let member of members">
      <div class="item">
        <img *ngIf="room.owner.id === member.id"
             class="ui avatar image" src="assets/images/user-icon-tiny-king.png">
        <img *ngIf="room.owner.id !== member.id"
             class="ui avatar image" src="assets/images/user-icon-tiny.png">
        <div class="content">
          <div class="header">{{ member.username }} &nbsp;&nbsp;</div>
        </div>
      </div>
    </div>
  </div>

  <h2>Location</h2>
  {{room.place}}

  <h2>Available Time</h2>
  <div class="ui list" *ngFor="let timespan of availableTime">
    <div class="item">
      {{timespan.start | date:'short'}} ~ {{timespan.end | date:'short'}}
    </div>
  </div>
  <button class="ui button">Select Available Time</button>
</div>
