<div *ngIf="room">
  <h1>{{room.name}}</h1>
  <div class="ui hidden divider"></div>
  <div class="ui grid">
    <div class="row">
      <div class="six wide column">
        <div class="ui fluid action input">
          <input type="text" [(ngModel)]="shareableLink" readonly="" #inputTarget>
          <button class="ui teal right labeled icon button" type="button"
                  ngxClipboard [cbContent]="shareableLink" (cbOnSuccess)="isCopied = true">
            <i class="copy icon"></i>
            <div *ngIf="!isCopied">Copy</div>
            <div *ngIf="isCopied">Copied!</div>
          </button>
        </div>
      </div>
      <div class="eight wide column"></div>
      <div class="two wide column">
        <button (click)="goBack()" class="ui button right floated">Back</button>
      </div>
    </div>
  </div>

  <h2>List of participants</h2>
  <div *ngIf="members && room.owner">
    <div class="ui horizontal list" *ngFor="let member of members">
      <div class="item">
        <img *ngIf="room.owner.id === member.id"
             class="ui avatar image" src="assets/images/user-icon-tiny-king.png">
        <img *ngIf="room.owner.id !== member.id"
             class="ui avatar image" src="assets/images/user-icon-tiny.png">
        <div class="content">
          <div class="header">{{ member.username }} &nbsp;&nbsp;</div>
        </div>
      </div>
    </div>
  </div>

  <h2>Location</h2>
  {{room.place}}
  <div class="container">
    <agm-map [latitude]="room.latitude" [longitude]="room.longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="room.latitude" [longitude]="room.longitude"></agm-marker>
    </agm-map>
  </div>
  `


  <h2>Available Time</h2>
  <div class="ui list" *ngFor="let timespan of availableTime; let i = index">
    <div class="item">
      <b style="font-size: 18px">{{i + 1}}. &nbsp;</b>
      <b>{{timespan.getDate()[0]}}: &nbsp;</b>
      {{timespan.getStartTime()}} ~ {{timespan.getEndTime()}}
      ({{timespan.getDuration()}})
      <br>
    </div>
  </div>
  <button class="ui button" (click)="goTimeSelectPage()">Select Available Time</button>
</div>
