#bodyId .ui.create-new-room {
  border-radius: 0;
  background-color: #32CD32;
}

.body {
  background-color: #F8EDE8;
}

#dashboard {
  color: #FE9A76;
  font-family: Kollektif;
  font-size: 300%
}

#joined {
  color: #FB6F24;
  font-family: Kollektif;
  font-size: 120%
}
/*
orange: #F56E0E
teal: #02B7A9
 */

#created {
  color: #FB6F24;
  font-family: Kollektif;
  font-size: 120%
}
