
<h2 id="dashboard">
  Dashboard
</h2>
<!--
<img src="../../assets/images/dashboard_yellow.png"
     width="220" height="50" draggable="false">

-->
<!--
<div class="ui grid">
  <div class="sixteen wide column">
    <button class="ui teal button right floated" [routerLink]="['/room/create']">
      Create
    </button>
  </div>
</div>
-->

<div class="ui search icon input">
  <i class="search icon"></i>
  <input type="text" name="search" placeholder="Search Rooms"
         [(ngModel)]="searchText" size="16">
</div>

&nbsp;

<sui-select class="ui orange floating dropdown icon button"
            icon="sort"
            [options]="sortOptions"
            placeholder="Sort" #sortSelect
            [(ngModel)]="currentSortOption">
  <sui-select-option *ngFor="let o of sortOptions" [value]="o"></sui-select-option>
</sui-select>

<div class="ui hidden divider"></div>

<sui-tabset>
  <div class="ui top attached tabular container menu">
    <a class="item" suiTabHeader="1">Created</a>
    <a class="item" suiTabHeader="2">Joined</a>
    <div class="right menu">
      <div class="item">
        <button class="ui yellow button right floated" [routerLink]="['/room/create']">
          Create
        </button>
      </div>
    </div>

  </div>
  <div class="ui bottom attached segment" suiTabContent="1">
    <app-room-list [rooms]="roomsJoined
                   | roomListFilter: searchText: currentSearchOption
                   | roomSorter: currentSortOption">
    </app-room-list>
  </div>
  <div class="ui bottom attached segment" suiTabContent="2">
    <app-room-list [rooms]="roomsCreated
                   | roomListFilter: searchText: currentSearchOption
                   | roomSorter: currentSortOption">
    </app-room-list>
  </div>
</sui-tabset>
