<h1>Dashboard</h1>
<button class="ui button" [routerLink]="['/room/create']">
  Create
</button>
<div class="ui divider"></div>
<sui-tabset>
  <div class="ui top attached tabular menu">
    <a class="item" suiTabHeader="1">Created</a>
    <a class="item" suiTabHeader="2">Joined</a>
  </div>
  <div class="ui bottom attached segment" suiTabContent="1">
    <app-room-list [rooms]="roomsCreated"></app-room-list>
    <button class="fluid ui button">View more</button>
  </div>
  <div class="ui bottom attached segment" suiTabContent="2">
    <app-room-list [rooms]="roomsJoined"></app-room-list>
    <button class="fluid ui button">View more</button>
  </div>
</sui-tabset>

